<a href="https://colab.research.google.com/github/Ajay9795cool/Python-Programming/blob/master/Python_Session_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# String Formatting

## “New Style” String Formatting (str.format)

This “new style” string formatting gets rid of the %-operator special syntax and makes the syntax for string formatting more regular. 

Formatting is now handled by calling .format() on a string object. You can use format() to do simple positional formatting:

```
'Hello, {}'.format(name)
```
The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

Or, you can refer to your variable substitutions by name and use them in any order you want. This is quite a powerful feature as it allows for re-arranging the order of display without changing the arguments passed to format():

```
'Hey {name}, there is a 0x{errno:x} error!'.format(name=name, errno=errno)
```

You can use index numbers {0} to be sure the arguments are placed in the correct placeholders

```
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))
```

# Exercise - 1

You will need to write a format string which prints out the data using the following syntax: 

Hello My Name is **Name**. I wake up at **time** AM.

In [ ]:
format_string = "Hello"

In [ ]:
print()

# Basic String Operations

As you can see, the first thing you learned was printing a simple sentence. This sentence was stored by Python as a string. However, instead of immediately printing strings out, we will explore the various things you can do to them.

## Length

To get the length of a string, use the len() function.

```
astring = "Hello world!"
print(len(astring))
```
Calculates including punctuation and spaces.


## Index

```
print(astring.index("o"))
```
That prints out 4, because the location of the first occurrence of the letter "o" is 4 characters away from the first character. Notice how there are actually two o's in the phrase - this method only recognizes the first.

But why didn't it print out 5? Isn't "o" the fifth character in the string? To make things more simple, Python (and most other programming languages) start things at 0 instead of 1. So the index of "o" is 4.

## Count

```
print(astring.count("l"))
```
This counts the number of l's in the string. Therefore, it should print 3.

## String Slicing



```
print(astring[3:7])
```
This prints a slice of the string, starting at index 3, and ending at index 6. But why 6 and not 7? Again, most programming languages do this - it makes doing math inside those brackets easier.

```
print(astring[3])
print(astring[3:])
print(astring[:3])
```

If you just have one number in the brackets, it will give you the single character at that index. If you leave out the first number but keep the colon, it will give you a slice from the start to the number you left in. If you leave out the second number, it will give you a slice from the first number to the end.

```
print(astring[-3])
print(astring[-3:3])

```

You can even put negative numbers inside the brackets. They are an easy way of starting at the end of the string instead of the beginning. This way, -3 means "3rd character from the end".



```
print(astring[3:7:2])
```
This prints the characters of string from 3 to 7 skipping one character. This is extended slice syntax. The general form is [start:stop:step].

```
print(astring[2:7])
print(astring[2:7:1])
```
Note that both of the above lines produce same output

There is no function like strrev in C to reverse a string. But with the above mentioned type of slice syntax you can easily reverse a string like this


```
print(astring[::-1])
```

## Other basic string functions



```
print(astring.upper())
print(astring.lower())
```
These make a new string with all letters converted to uppercase and lowercase, respectively.


```
print(astring.swapcase())
```



```
print(astring.startswith("hello"))
print(astring.endswith("python"))
```
This is used to determine whether the string starts with something or ends with something, respectively. The first one will print True, as the string starts with "Hello". The second one will print False, as the string certainly does not end with "python".



```
astring = "Hello world!"
afewwords = astring.split(" ")
```
This splits the string into a bunch of strings grouped together in a list. Since this example splits at a space, the first item in the list will be "Hello", and the second will be "world!".

# Excercise - 2


Try to fix the code to print out the correct information by changing the print functions.

In [ ]:
s = "Hello World!"

# Length of the string
print()

# First occurrence of "a" 
print()

# Number of a's
print()

# Slicing the string into bits

# The characters from Start to 5
print() 
# The characters from 5 to 10
print() 
# Just number 12
print() 
# The characters with odd index are (0-based indexing)
print() 
# The last five characters are (5th-from-last to end)

# Convert everything to uppercase
print()

# Convert everything to lowercase
print()

# Check if string starts with "hello"


# Check if string starts with "world!"

# Split the string into three separate strings,
# each containing only a word
print()

# Conditions

Python supports the usual logical conditions from mathematics:

* Equals: a == b
* Not Equals: a != b
* Less than: a < b
* Less than or equal to: a <= b
* Greater than: a > b
* Greater than or equal to: a >= b

Python uses boolean variables to evaluate conditions. The boolean values True and False are returned when an expression is compared or evaluated. For example:
```
x = 2
print(x == 2) # prints out True
print(x == 3) # prints out False
print(x < 3) # prints out True
```

Notice that variable assignment is done using a single equals operator "=", whereas comparison between two variables is done using the double equals operator "==". The "not equals" operator is marked as "!=".

A statement is evaulated as true if one of the following is correct: 1. The "True" boolean variable is given, or calculated using an expression, such as an arithmetic comparison. 2. An object which is not considered "empty" is passed.

Here are some examples for objects which are considered as empty: 1. An empty string: "" 2. An empty list: [] 3. The number zero: 0 4. The false boolean variable: False

## Boolean operators
The "and" and "or" boolean operators allow building complex boolean expressions, for example:

```
name = "John"
age = 23
if name == "John" and age == 23:
    print("Your name is John, and you are also 23 years old.")

if name == "John" or name == "Rick":
    print("Your name is either John or Rick.")
```

## The "in" operator

The "in" operator could be used to check if a specified object exists within an iterable object container, such as a list:

```
name = "John"
if name in ["John", "Rick"]:
    print("Your name is either John or Rick.")
```

## The 'is' operator

Unlike the double equals operator "==", the "is" operator does not match the values of the variables, but the instances themselves. For example:


```
x = [1,2,3]
y = [1,2,3]
print(x == y) # Prints out True
print(x is y) # Prints out False
```

## The "not" operator

Using "not" before a boolean expression inverts it:


```
print(not False) # Prints out True
print((not False) == (False)) # Prints out False
```

## if


An "if statement" is written by using the if keyword.



```
a = 33
b = 200
if b > a:
  print("b is greater than a")
```

In this example we use two variables, a and b, which are used as part of the if statement to test whether b is greater than a. As a is 33, and b is 200, we know that 200 is greater than 33, and so we print to screen that "b is greater than a".

Python relies on indentation (whitespace at the beginning of a line) to define scope in the code. Other programming languages often use curly-brackets for this purpose.

```
a = 33
b = 200
if b > a:
print("b is greater than a") # you will get an error
```

## elif

The elif keyword is pythons way of saying "if the previous conditions were not true, then try this condition".

```
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
```

In this example a is equal to b, so the first condition is not true, but the elif condition is true, so we print to screen that "a and b are equal".

## else

```
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")
```

The else keyword catches anything which isn't caught by the preceding conditions.

In this example a is greater than b, so the first condition is not true, also the elif condition is not true, so we go to the else condition and print to screen that "a is greater than b".

You can also have an else without the elif:

```
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")
```

## Short Hand If
If you have only one statement to execute, you can put it on the same line as the if statement.

```
if a > b: print("a is greater than b")
```

## Short Hand If ... Else
If you have only one statement to execute, one for if, and one for else, you can put it all on the same line:

```
a = 2
b = 330
print("A") if a > b else print("B")
```

This technique is known as Ternary Operators, or Conditional Expressions.

You can also have multiple else statements on the same line:

```
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")
```

One line if else statement, with 3 conditions:

## Nested If

You can have if statements inside if statements, this is called nested if statements.


```
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")
```

## The pass Statement

if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.


```
a = 33
b = 200

if b > a:
  pass
else:
  print("b is lesser than a")
```

# Excercise - 3

Change the variables in the first section, so that each condition resolves as True.

In [ ]:
# change this code
number = 10
second_number = 10
first_array = []
second_array = [1,2,3]

In [ ]:
## testing code
if number > 15:
    print("True")

if first_array:
    print("True")

if len(second_array) == 2:
    print("True")

if len(first_array) + len(second_array) == 5:
    print("True"))

if first_array and first_array[0] == 1:
    print("True")

if not second_number:
    print("True")

# Loops

There are two types of loops in Python, for and while.

## for loop

The "for" loop
For loops iterate over a given sequence. Here is an example:


```
primes = [2, 3, 5, 7]
for prime in primes:
    print(prime)
```

For loops can iterate over a sequence of numbers using the "range" and "xrange" functions. The difference between range and xrange is that the range function returns a new list with numbers of that specified range, whereas xrange returns an iterator, which is more efficient. (Python 3 uses the range function, which acts like xrange). Note that the range function is zero based.



```
# Prints out the numbers 0,1,2,3,4
for x in range(5):
    print(x)

# Prints out 3,4,5
for x in range(3, 6):
    print(x)

# Prints out 3,5,7
for x in range(3, 8, 2):
    print(x)
```

## while loop

While loops repeat as long as a certain boolean condition is met. For example:



```
# Prints out 0,1,2,3,4

count = 0
while count < 5:
    print(count)
    count += 1  # This is the same as count = count + 1
```

## break and continue statements
break is used to exit a for loop or a while loop, whereas continue is used to skip the current block, and return to the "for" or "while" statement. A few examples:



```
# Prints out 0,1,2,3,4

count = 0
while True:
    print(count)
    count += 1
    if count >= 5:
        break

# Prints out only odd numbers - 1,3,5,7,9
for x in range(10):
    # Check if x is even
    if x % 2 == 0:
        continue
    print(x)
```

can we use "else" clause for loops?
unlike languages like C,CPP.. we can use else for loops. When the loop condition of "for" or "while" statement fails then code part in "else" is executed. If break statement is executed inside for loop then the "else" part is skipped. Note that "else" part is executed even if there is a continue statement.

Here are a few examples:

In [ ]:
# Prints out 0,1,2,3,4 and then it prints "count value reached 5"

count=0
while(count<5):
    print(count)
    count +=1
else:
    print("count value reached %d" %(count))

# Prints out 1,2,3,4
for i in range(1, 10):
    if(i%5==0):
        break
    print(i)
else:
    print("this is not printed because for loop is terminated because of break but not due to fail in condition")

# Excercise - 4

Loop through and print out all even numbers from the numbers list in the same order they are received. Don't print any numbers that come after 237 in the sequence.

In [ ]:
numbers = [
    951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 547, 544,
    615, 83, 165, 141, 501, 263, 617, 865, 575, 219, 390, 984, 592, 236, 105, 942, 941,
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958, 609, 842, 451, 688, 753, 854, 685, 93, 857, 440, 380, 126, 721, 328, 753, 470,
    743, 527
]

# your code goes here