<a href="https://colab.research.google.com/github/Ajay9795cool/Python-Programming/blob/master/Python_Recap_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# String

A string is a sequence of characters.

In [ ]:
S = 'Hello, World!'   # single quotes
print(S)
S = "Hello, World!"   # double quotes
print(S)

S = """String literals can
span multiple lines."""
print(S)
# String literals can
# span multiple lines.

## String Formatting

In [ ]:
# printf-style % string formatting
S = '%s is %d years old.' % ('Bob', 25)
print(S)
# Prints Bob is 25 years old.

# format() Built-in Method
S = '{1} is {0} years old.'.format(25, 'Bob')
print(S)
# Prints Bob is 25 years old.

# f-String Formatter
name = 'Bob'
age = 25
S = f"{name} is {age} years old."
print(S)
# Prints Bob is 25 years old.

## Basic String Functions

In [3]:
# String Length
S = 'Supercalifragilisticexpialidocious'
print(len(S))
# Prints 34

# String Index
print(S.index('r'))
# Prints 4

# String Count
print(S.count('li'))
# Prints 3

# Match and Replace
S = 'Hello, World!'
x = S.replace('World', 'Universe')
print(x)
# Prints Hello, Universe!

# Split the string on comma
S = 'red,green,blue,yellow'
x = S.split(',')
print(x)
# Prints ['red', 'green', 'blue', 'yellow']

34
4
3
Hello, Universe!

In [ ]:
S = 'Hello, World!'
print(S.lower())
# Prints hello, world!

S = 'Hello, World!'
print(S.upper())
# Prints HELLO, WORLD!

S = 'Hello, World!'
print(S.capitalize())
# Prints Hello, world!

S = 'Hello, World!'
print(S.swapcase())
# Prints hELLO, wORLD!

S = 'hello, world!'
print(S.title())
# Prints Hello, World!

In [ ]:
# Check if Substring Contains in a String
S = 'Hello, World!'
print('Hello' in S)
# Prints True

# Search for a substring within a string
S = 'Stay Hungry, Stay Foolish'
x = S.find('Foolish')
print(x)
# Prints 18

# Print each character in a string
S = 'Hello, World!'
for letter in S:
    print(letter, end=' ')
# H e l l o ,   W o r l d !

## The str() Constructor

In [ ]:
# an integer to a string
S = str(42)
print(S)
# Prints '42'

# a complex number to a string
S = str(3+4j)
print(S)
# Prints '(3+4j)

# a list to a string
S = str([1,1])
print(S)
# Prints '[1, 1]'

## Access Characters by Index

In [7]:
# Indexing
S = 'ABCDEFGHI'
print(S[0])    # Prints A
print(S[4])    # Prints E

# Negative Indexing
S = 'ABCDEFGHI'
print(S[-1])    # Prints I
print(S[-6])    # Prints D

# String Slicing
print(S[2:5])      # Prints CDE
print(S[5:-1])     # Prints FGH
print(S[1:6:2])    # Prints BDF

# Reverse a string
print(S[::-1])

A
E
I
D
CDE
FGH
BDF
IHGFEDCBA

## Other string functions

In [5]:
# concatenation operator
S = 'Hello,' + ' World!'
print(S)
# Hello, World!

# augmented assignment operator
S = 'Hello,'
S += ' World!'
print(S)
# Prints Hello, World!

# replicate string
# the hard way
S = '--------------------'
print(S)
# the easy way
S = '-' * 20
print(S)

Hello, World!
Hello, World!
--------------------
--------------------

# if else elif Statement

Often you need to execute some statements, only when certain condition holds. You can use following conditional statements in your code to do this.

* if Statement: use it to execute a block of code, if a specified condition is true
* else Statement: use it to execute a block of code, if the same condition is false
* elif (else if) Statement: use it to specify a new condition to test, if the previous condition is false

In [ ]:
x, y = 7, 5
if x > y:
	print('x is greater')

# Prints x is greater

In Python, any non-zero value or nonempty container is considered TRUE, whereas Zero, None, and empty container is considered FALSE. That’s why all the below if statements are valid.

In [ ]:
# any non-zero value
if -3:
    print('True')
# Prints True

# mathematical expression
x, y = 7, 5
if x + y:
    print('True')
# Prints True

# nonempty container
L = ['red','green']
if L:
    print('True')
# Prints True

In [ ]:
# Nested if
x, y, z = 7, 4, 2
if x > y:
    print("x is greater than y")
    if x > z:
        print("x is greater than y and z")

# Prints x is greater than y
# Prints x is greater than y and z

In [ ]:
# else statement
x, y = 7, 5
if x < y:
    print('y is greater')
else:
    print('x is greater')

# Prints x is greater

In [ ]:
# elif statement
x, y = 5, 5
if x > y:
    print('x is greater')
elif x < y:
    print('y is greater')
else:
    print('x and y are equal')

# Prints x and y are equal

In [8]:
# if all the conditions are True.
x, y, z = 7, 4, 2
if x > y and x > z:
    print('x is greater')
# Prints x is greater

# if at least one of the conditions is True
x, y, z = 7, 4, 9
if x > y or x > z:
    print('x is greater than y or z')
# Prints x is greater than y or z

# if the condition is false
x, y = 7, 5
if not x < y:
    print('x is greater')
# Prints x is greater

x is greater
x is greater than y or z

## Shorthand If

In [ ]:
# Short Hand If - single statement
x, y = 7, 5
if x > y: print('x is greater')
# Prints x is greater

# Short Hand If - multiple statements using semicolon
x, y = 7, 5
if x > y: print('x is greater'); print('y is smaller'); print('x and y are not equal')

# Prints x is greater
# Prints y is smaller
# Prints x and y are not equal

In [ ]:
# Short Hand If Else
x, y = 7, 5
print('x is greater') if x > y else print('y is greater')
# Prints x is greater

x, y = 7, 5
max = x if x > y else y
print(max)
# Prints 7

# While Loop

A while loop is used when you want to perform a task indefinitely, until a particular condition is met. It’s a condition-controlled loop.

In [ ]:
# Iterate until x becomes 0
x = 6
while x:
    print(x)
    x -= 1
# Prints 6 5 4 3 2 1

# Iterate until list is empty
L = ['red', 'green', 'blue']
while L:
    print(L.pop())
# Prints blue green red

# Iterate until string is empty
x = 'blue'
while x:
    print(x)
    x = x[1:]
# Prints blue
# Prints lue
# Prints ue
# Prints e

# Exit condition is false at the start
x = 0
while x:
    print(x)
    x -= 1

## Break in while Loop
Python break statement is used to exit the loop immediately. It simply jumps out of the loop altogether, and the program continues after the loop.

In [ ]:
# Exit when x becomes 3
x = 6
while x:
    print(x)
    x -= 1
    if x == 3:
        break
# Prints 6 5 4

## Continue in while Loop
The continue statement skips the current iteration of a loop and continues with the next iteration.

In [ ]:
# Skip odd numbers
x = 6
while x:
	x -= 1
	if x % 2 != 0:
		continue
	print(x)
# Prints 4 2 0

## Else in While Loop
Python allows an optional else clause at the end of a while loop. The else clause will be executed when the loop terminates normally (the condition becomes false).

In [ ]:
x = 6
while x:
    print(x)
    x -= 1
else:
    print('Done!')
# Prints 6 5 4 3 2 1
# Prints Done!

In [ ]:
# The else clause will still be executed if the condition is false at the start.
x = 0
while x:
    print(x)
    x -= 1
else:
    print('Done!')
# Prints Done!

In [ ]:
# If the loop terminates prematurely with break, the else clause won’t be executed.
x = 6
while x:
    print(x)
    x -= 1
    if x == 3:
        break
else:
    print('Done!')
# Prints 6 5 4

# For Loop

Rather than iterating over a numeric progression, Python’s for statement iterates over the items of any iterable (list, tuple, dictionary, set, or string). The items are iterated in the order that they appear in the iterable.

In [ ]:
# Iterate through a list
colors = ['red', 'green', 'blue', 'yellow']
for x in colors:
    print(x)
# Prints red green blue yellow

# Iterate through a string
S = 'python'
for x in S:
    print(x)
# Prints p y t h o n

## Break in for Loop
Python break statement is used to exit the loop immediately. It simply jumps out of the loop altogether, and the program continues after the loop.

In [ ]:
# Break the loop at 'blue'
colors = ['red', 'green', 'blue', 'yellow']
for x in colors:
    if x == 'blue':
        break
    print(x)
# Prints red green

## Continue in for Loop
The continue statement skips the current iteration of a loop and continues with the next iteration.

In [ ]:
# Skip 'blue'
colors = ['red', 'green', 'blue', 'yellow']
for x in colors:
    if x == 'blue':
        continue
    print(x)
# Prints red green yellow

## Else in for Loop
Python allows an optional else clause at the end of a for loop. The else clause will be executed if the loop terminates naturally (through exhaustion).

In [ ]:
colors = ['red', 'green', 'blue', 'yellow']
for x in colors:
    print(x)
else:
    print('Done!')
# Prints red green blue yellow
# Prints Done!

In [ ]:
# If the loop terminates prematurely with break, the else clause won’t be executed.
colors = ['red', 'green', 'blue', 'yellow']
for x in colors:
    if x == 'blue':
        break
    print(x)
else:
    print('Done!')
# Prints red green

## range() function in for loop
If you need to execute a group of statements for a specified number of times, use built-in function range().

The range(start,stop,step) function generates a sequence of numbers from 0 up to (but not including) specified number.

In [ ]:
# Generate a sequence of numbers from 0 6
for x in range(7):
    print(x)
# Prints 0 1 2 3 4 5 6

# Print 'Hello!' three times
for x in range(3):
    print('Hello!')
# Prints Hello!
# Prints Hello!
# Prints Hello!

The range starts from 0 by default. But, you can start the range at another number by specifying start parameter.

In [ ]:
# Generate a sequence of numbers from 2 to 6
for x in range(2, 7):
    print(x)
# Prints 2 3 4 5 6

for x in range(-5,0):
    print(x)
# Prints -5 -4 -3 -2 -1

# Increment the range with 2
for x in range(2, 7, 2):
    print(x)
# Prints 2 4 6

## Nested for Loop
A loop inside another loop is called a nested loop.

In [ ]:
# Flatten a nested list
list = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]   
for sublist in list:
    for number in sublist:
        print(number)
# Prints 1 2 3 4 5 6 7 8 9

## Access Index in for Loop
To iterate over the indices of a sequence, you can combine range() and len() as follows:

In [ ]:
colors = ['red', 'green', 'blue']
for index in range(len(colors)):
    print(index, colors[index])
# Prints 0 red
# Prints 1 green
# Prints 2 blue

In [ ]:
# Loop through two lists at once
name = ['Bob', 'Sam', 'Max']
age = [25, 35, 30]
for x, y in zip(name, age):
    print(x, y)
# Prints Bob 25
# Prints Sam 35
# Prints Max 30