<a href="https://colab.research.google.com/github/Ajay9795cool/Python-Programming/blob/master/Python_Session_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# The Notebook Interface

## Basics

Why not take a look around? Check out the menus to get a feel for it.

There are two fairly prominent terms that you should notice **cells** and **kernels** are key both to understanding Jupyter and to what makes it more than just a word processor.

A **kernel** is a “computational engine” that executes the code contained in a notebook document.

A **cell** is a container for text to be displayed in the notebook or code to be executed by the notebook’s kernel.

## Cells

A **code cell** contains code to be executed in the kernel and displays its output below.

A **Markdown cell** contains text formatted using Markdown and displays its output in-place when it is run.

# Hello World!

**print** - The simplest directive in Python is the "print" directive - it simply prints out a line

Classic hello world example. Type `print('Hello World!')` into the cell and click the run button in the toolbar above or press Ctrl + Enter.

When you ran the cell, its output will have been displayed below and the label to its left will have changed from 
In [ ] to In [1].

## Running State

Try out the following code to see what happens. Do you notice anything different?
```
import time
time.sleep(3)
```

This cell doesn’t produce any output, but it does take three seconds to execute. Notice how Jupyter signifies that the cell is currently running by changing its label to In [*].

## Keyboard Shortcuts

Toggle between edit and command mode with Esc and Enter, respectively.

Once in command mode:

Scroll up and down your cells with your Up and Down keys.

Press A or B to insert a new cell above or below the active cell.

M will transform the active cell to a Markdown cell.

Y will set the active cell to a code cell.

D + D (D twice) will delete the active cell.

Z will undo cell deletion.

In [ ]:
# line 1

In [ ]:
# line 2

# Markdown Basics

"# This is a level 1 heading"
 
"## This is a level 2 heading"
 
This is some plain text that forms a paragraph.
 
Add emphasis via '**bold**' and '__bold__', or '*italic*' and '_italic_.'
 
Paragraphs must be separated by an empty line.

* Sometimes we want to include lists.
* Which can be indented.

1. Lists can also be numbered.
2. For ordered lists.

## Indentation

Python uses indentation for blocks, instead of curly braces. Both tabs and spaces are supported, but the standard indentation requires standard Python code to use four spaces. For example:
```
x = 1
if x == 1:
    # indented four spaces
    print("x is 1.")
```

# Variables and Types

Python is completely object oriented, and not "statically typed". You do not need to declare variables before using them, or declare their type. Every variable in Python is an object

## Numbers

Python supports two types of numbers - integers and floating point numbers.
To define an integer, use the following syntax:
```
myint = 7
print(myint)
```

To define a floating point number, you may use one of the following notations:
```
# method 1
myfloat = 7.0
print(myfloat)
# method 2
myfloat = float(7)
print(myfloat)
```

## Strings

Strings are defined either with a single quote or a double quotes.
```
# method 1
mystring = 'hello'
print(mystring)
# method 2
mystring = "hello"
print(mystring)
```

The difference between the two is that using double quotes makes it easy to include apostrophes (whereas these would terminate the string if using single quotes)
```
mystring = "Don't worry about apostrophes"
print(mystring)
```

Assignments can be done on more than one variable "simultaneously" on the same line like this
```
a, b = 3, 4
print(a,b)
```

# Exercise - 1

The target of this exercise is to create a string, an integer, and a floating point number. The string should be named mystring and should contain the word "hello". The floating point number should be named myfloat and should contain the number 10.0, and the integer should be named myint and should contain the number 20.

In [ ]:
# change this code
mystring = None
myfloat = None
myint = None

In [ ]:
# testing code
if mystring == "hello":
    print("String: %s" % mystring)
if isinstance(myfloat, float) and myfloat == 10.0:
    print("Float: %f" % myfloat)
if isinstance(myint, int) and myint == 20:
    print("Integer: %d" % myint)

# Lists

They can contain any type of variable, and they can contain as many variables as you wish. Lists can also be iterated over in a very simple manner. Here is an example of how to build a list.
```
mylist = []
mylist.append(1)
mylist.append(2)
mylist.append(3)
print(mylist[0]) # prints 1
print(mylist[1]) # prints 2
print(mylist[2]) # prints 3
```

Accessing an index which does not exist generates an exception (an error).
```
mylist = [1,2,3]
print(mylist[10])
```

# Exercise - 2

In this exercise, you will need to add numbers and strings to the correct lists using the "append" list method. You must add the numbers 1,2, and 3 to the "numbers" list, and the words 'hello' and 'world' to the strings variable.

You will also have to fill in the variable second_name with the second name in the names list, using the brackets operator []. Note that the index is zero-based, so if you want to access the second item in the list, its index will be 1.

In [ ]:
# change this code
numbers = []
strings = []
names = ["John", "Eric", "Jessica"]

second_name = None

In [ ]:
# testing code
print(numbers)
print(strings)
print("The second name on the names list is %s" % second_name)

[]
[]
The second name on the names list is None

# Basic Operators

## Arithmetic Operators on Numbers

Just as any other programming languages, the addition, subtraction, multiplication, and division operators can be used with numbers.
```
number = 1 + 2 * 3 / 4.0
print(number)
```

Another operator available is the modulo (%) operator, which returns the integer remainder of the division. dividend % divisor = remainder.
```
remainder = 11 % 3
print(remainder)
```

Using two multiplication symbols makes a power relationship.
```
squared = 7 ** 2
cubed = 2 ** 3
print(squared)
print(cubed)
```

## Using Operators with Strings

Python supports concatenating strings using the addition operator:
```
helloworld = "hello" + " " + "world"
print(helloworld)
```

Python also supports multiplying strings to form a string with a repeating sequence:
```
lotsofhellos = "hello" * 10
print(lotsofhellos)
```

## Using Operators with Lists

Lists can be joined with the addition operators:
```
even_numbers = [2,4,6,8]
odd_numbers = [1,3,5,7]
all_numbers = odd_numbers + even_numbers
print(all_numbers)
```

Just as in strings, Python supports forming new lists with a repeating sequence using the multiplication operator:
```
print([1,2,3] * 3)
```

# Exercise - 3

The target of this exercise is to create two lists called x_list and y_list, which contain 10 instances of the variables x and y, respectively. You are also required to create a list called big_list, which contains the variables x and y, 10 times each, by concatenating the two lists you have created

In [ ]:
#change this code

x = object()
y = object()

x_list = [x]
y_list = [y]
big_list = []

In [ ]:
# testing code
print("x_list contains %d objects" % len(x_list))
print("y_list contains %d objects" % len(y_list))
print("big_list contains %d objects" % len(big_list))
 
if x_list.count(x) == 10 and y_list.count(y) == 10:
    print("Almost there...")
if big_list.count(x) == 10 and big_list.count(y) == 10:
    print("Great!")
    print(big_list)

x_list contains 1 objects
y_list contains 1 objects
big_list contains 0 objects