<a href="https://colab.research.google.com/github/Ajay9795cool/Python-Programming/blob/master/Python_Exercise_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Exercise 1

## Question 1: Given a two integer numbers return their product and  if the product is greater than 1000, then return their sum

Given:

```
number1 = 20
number2 = 30
```

Expected Output:
```
The result is 600
```

Given:

```
number1 = 40
number2 = 30
```

Expected Output:
```
The result is 70
```

## Question 2: Given a range of first 10 numbers, Iterate from start number to the end number and print the sum of the current number and previous number
Expected Output:
```
Printing current and previous number sum in a given range(10)
Current Number 0 Previous Number  0  Sum:  0
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17
```

## Question 3: Given a string, display only those characters which are present at an even index number.
For example, if str = "pynative", then you should display ‘p’, ‘n’, ‘t’, ‘v’.

Expected Output:

```
Orginal String is  pynative
Printing only even index characters
p
n
t
v
```

## Question 4: Given a string and an integer number n, remove characters from a string starting from zero up to n and return a new string

For example, removeChars("pynative", 4) so output must be tive. Note: n must be less than the length of the string.

## Question 5: Given a list of numbers, return True if first and last number of a list is same

Expected Output:

```
Given list is  [10, 20, 30, 40, 10]
result is True
Given list is  [10, 20, 30, 40, 50]
result is False
```

## Question 6: Given a list of numbers, Iterate it and print only those numbers which are divisible of 5
Expected Output:

```
Given list is  [10, 20, 33, 46, 55]
Divisible of 5 in a list
10
20
55

```

## Question 7: Return the total count of sub-string “Emma” appears in the given string
Given string is “Emma is good developer. Emma is a writer”

Expected Output:

```
Emma appeared 2 times
```

## Question 8: Print the following pattern


```
1 
2 2 
3 3 3 
4 4 4 4 
5 5 5 5 5
```

## Question 9: Reverse a given number and return true if it is the same as the original number

Expected Output:

```
original number 121
The original and reverse number is the same

original number 125
The original and reverse number is not sam
```

## Question 10: Given a two list of numbers create a new list such that new list should contain only odd numbers from the first list and even numbers from the second list

Expected Output:

```
First List  [10, 20, 23, 11, 17]
Second List  [13, 43, 24, 36, 12]

result List is [23, 11, 17, 24, 36, 12]
```

## Question 11: Write a code to extract each digit from an integer, in the reverse order

For example, if the given int is 7536, the output shall be “6 3 5 7“, with a space separating the digits.

## Question 12: Print downward Half-Pyramid Pattern with Star (asterisk)

```
* * * * *  
* * * *  
* * *  
* *  
*
```

## Question 13: Write a function called exponent(base, exp) that returns an int value of base raised to the power of exp.
Note here exp is a non-negative integer, and the base is an integer.

Expected Output:

Case 1:

```
base = 2
exponent = 5

2 raised to the power of 5 is: 32 i.e. (2 *2 * 2 *2 *2 = 32)
```

Case 2:

```
base = 5
exponent = 4

5 raised to the power of 4 is: 625 i.e. (5 *5 * 5 *5 = 625)
```