<a href="https://colab.research.google.com/github/Ajay9795cool/Python-Programming/blob/master/Python_Exercise_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python if else, for loop, and range()

## Exercise Question 1: Print First 10 natural numbers using while loop

Expected output:

```
0
1
2
3
4
5
6
7
8
9
10
```

## Exercise Question 2: Print the following pattern


```
1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5
```

## Exercise Question 3: Accept number from user and calculate the sum of all number between 1 and given number

For example user given 10 so the output should be 55

## Exercise Question 4: Print multiplication table of given number

For example `num = 2` so the output should be


```
2
4
6
8
10
12
14
16
18
20
```

## Exercise Question 5: Given a list iterate it and display numbers which are divisible by 5 and if you find number greater than 150 stop the loop iteration

`list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]`

Expected output:
```
15
55
75
150
```

## Exercise Question 6: Given a number count the total number of digits in a number

For example, the number is 75869, so the output should be 5.

## Exercise Question 7: Print the following pattern using for loop

```
5 4 3 2 1 
4 3 2 1 
3 2 1 
2 1 
1
```

## Exercise Question 8: Reverse the following list using for loop

`list1 = [10, 20, 30, 40, 50]`

Expected output:

```
50
40
30
20
10
```

## Exercise Question 9: Display -10 to -1 using for loop

Expected output:

```
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
```

## Exercise Question 10: Display a message “Done” after successful execution of for loop

For example, the following loop will execute without any error.

```
for i in range(5):
    print(i)
```
So the Expected output should be:

```
0
1
2
3
4
Done!
```