<a href="https://colab.research.google.com/github/Ajay9795cool/Python-Programming/blob/master/Python_Session_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Tuple

A tuple is an ordered collection of values.

Tuples are a lot like lists:

* Tuples are ordered – Tuples maintains a left-to-right positional ordering among the items they contain.
* Accessed by index – Items in a tuple can be accessed using an index.
* Tuples can contain any sort of object – It can be numbers, strings, lists and even other tuples.

except:

* Tuples are immutable – you can’t add, delete, or change items after the tuple is defined.

## Create a Tuple
You can create a tuple by placing a comma-separated sequence of items in parentheses ().

In [1]:
# A tuple of integers
T = (1, 2, 3)

# A tuple of strings
T = ('red', 'green', 'blue')

# A tuple with mixed datatypes
T = (1, 'abc', 1.23, True)

# An empty tuple
T = ()

# A tuple without parentheses
T = 1, 'abc', 1.23, True

# Singleton Tuple 
T = (4,)
print(type(T))
# Prints <type 'tuple'>

## The tuple() Constructor

In [ ]:
# Convert a list to a tuple
T = tuple([1, 2, 3])
print(T)
# Prints (1, 2, 3)

# Convert a string to a tuple
T = tuple('abc')
print(T)
# Prints ('a', 'b', 'c')

## Nested Tuples
A tuple can contain sub-tuple, which in turn can contain sub-tuples themselves, and so on. This is known as nested tuple. You can use them to arrange data into hierarchical structures.

In [ ]:
T = ('red', ('green', 'blue'), 'yellow')

## Tuple Unpacking
When a packed tuple is assigned to a new tuple, the individual items are unpacked (assigned to the items of a new tuple).

In [ ]:
T = ('red', 'green', 'blue', 'cyan')
(a, b, c, d) = T

print(a)
# Prints red

print(b)
# Prints green

## Access Tuple Items
You can access individual items in a tuple using an index in square brackets. Note that tuple indexing starts from 0.

The indices for the elements in a tuple are illustrated as below:

In [ ]:
T = ('red', 'green', 'blue', 'yellow', 'black')

print(T[0])
# Prints red

print(T[2])
# Prints blue

print(T[-1])
# Prints black

print(T[-2])
# Prints yellow

In [ ]:
# Tuple Slicing

print(T[2:5])
# Prints ('c', 'd', 'e')

print(T[0:2])
# Prints ('a', 'b')

print(T[3:-1])
# Prints ('d', 'e')

## Tuple Concatenation & Repetition
Tuples can be joined using the concatenation operator + or Replication operator *

In [ ]:
# Concatenate
T = ('red', 'green', 'blue') + (1, 2, 3)
print(T)
# Prints ('red', 'green', 'blue', 1, 2, 3)

# Replicate
T = ('red',) * 3
print(T)
# Prints ('red', 'red', 'red')

## Find Tuple Length
To find how many items a tuple has, use len() method.

In [ ]:
T = ('red', 'green', 'blue')
print(len(T))
# Prints 3

## Check if item exists in a tuple
To determine whether a value is or isn’t in a tuple, you can use in and not in operators with if statement.

In [ ]:
# Check for presence
T = ('red', 'green', 'blue')
if 'red' in T:
    print('yes')

# Check for absence
T = ('red', 'green', 'blue')
if 'yellow' not in T:
    print('yes')

## Iterate through a tuple
To iterate over the items of a tuple, use a simple for loop.

In [ ]:
T = ('red', 'green', 'blue')
for item in T:
    print(item)
# Prints red green blue

# Python Set

Python set is an unordered collection of unique items. They are commonly used for computing mathematical operations such as union, intersection, difference, and symmetric difference.

Python Set Operations
The important properties of Python sets are as follows:

* Sets are unordered – Items stored in a set aren’t kept in any particular order.
* Set items are unique – Duplicate items are not allowed.
* Sets are unindexed – You cannot access set items by referring to an index.
* Sets are changeable (mutable) – They can be changed in place, can grow and shrink on demand.

## Create a Set
You can create a set by placing a comma-separated sequence of items in curly braces {}.

In [2]:
# A set of strings
S = {'red', 'green', 'blue'}
print(S)

# A set of mixed datatypes
S = {1, 'abc', 1.23, (3+4j), True}
print(S)

In [ ]:
# Sets don’t allow duplicates. They are automatically removed during the creation of a set.
S = {'red', 'green', 'blue', 'red'}
print(S)
# Prints {'blue', 'green', 'red'}

A set itself is mutable (changeable), but it cannot contain mutable objects. Therefore, immutable objects like numbers, strings, tuples can be a set item, but lists and dictionaries are mutable, so they cannot be.

## Set constructor
You can also create a set using a type constructor called set().

In [ ]:
# Set of items in an iterable
S = set('abc')
print(S)
# Prints {'a', 'b', 'c'}

# Set of successive integers
S = set(range(0, 4))
print(S)
# Prints {0, 1, 2, 3}

# Convert list into set
S = set([1, 2, 3])
print(S)
# Prints {1, 2, 3}

## Add Items to a Set

In [ ]:
# You can add a single item to a set using add() method.
S = {'red', 'green', 'blue'}
S.add('yellow')
print(S)
# Prints {'blue', 'green', 'yellow', 'red'}

# You can add multiple items to a set using update() method.
S = {'red', 'green', 'blue'}
S.update(['yellow', 'orange'])
print(S)
# Prints {'blue', 'orange', 'green', 'yellow', 'red'}

## Remove Items from a Set
To remove a single item from a set, use remove() or discard() method.

In [ ]:
# with remove() method
S = {'red', 'green', 'blue'}
S.remove('red')
print(S)
# Prints {'blue', 'green'}

# with discard() method
S = {'red', 'green', 'blue'}
S.discard('red')
print(S)
# Prints {'blue', 'green'}

Both methods work exactly the same. The only difference is that If specified item is not present in a set:

* remove() method raises KeyError
* discard() method does nothing

In [ ]:
# The pop() method removes random item from a set and returns it.
S = {'red', 'green', 'blue'}
x = S.pop()
print(S)
# Prints {'green', 'red'}

# removed item
print(x)
# Prints blue

In [ ]:
# Use clear() method to remove all items from the set.
S = {'red', 'green', 'blue'}
S.clear()
print(S)
# Prints set()

## Find Set Size
To find how many items a set has, use len() method.

In [ ]:
S = {'red', 'green', 'blue'}
print(len(S))
# Prints 3

## Iterate Through a Set
To iterate over the items of a set, use a simple for loop.

In [ ]:
S = {'red', 'green', 'blue'}
for item in S:
    print(item)
# Prints blue green red

## Check if Item Exists in a Set
To check if a specific item is present in a set, you can use in and not in operators with if statement.

In [ ]:
# Check for presence
S = {'red', 'green', 'blue'}
if 'red' in S:
    print('yes')

# Check for absence
S = {'red', 'green', 'blue'}
if 'yellow' not in S:
    print('yes')

## Set Operations
Sets are commonly used for computing mathematical operations such as intersection, union, difference, and symmetric difference.

In [ ]:
A = {'red', 'green', 'blue'}
B = {'yellow', 'red', 'orange'}

# Union

# by operator
print(A | B)
# Prints {'blue', 'green', 'yellow', 'orange', 'red'}

# by method
print(A.union(B))
# Prints {'blue', 'green', 'yellow', 'orange', 'red'}

In [ ]:
# Intersection

# by operator
print(A & B)
# Prints {'red'}

# by method
print(A.intersection(B))
# Prints {'red'}

In [ ]:
# Set Difference

# by operator
print(A - B)
# Prints {'blue', 'green'}

# by method
print(A.difference(B))
# Prints {'blue', 'green'}

In [ ]:
# Symmetric Difference
A = {'red', 'green', 'blue'}
B = {'yellow', 'red', 'orange'}

# by operator
print(A ^ B)
# Prints {'orange', 'blue', 'green', 'yellow'}

# by method
print(A.symmetric_difference(B))
# Prints {'orange', 'blue', 'green', 'yellow'}

# Python Dictionaries

Dictionaries are Python’s implementation of a data structure, generally known as associative arrays, hashes, or hashmaps.

You can think of a dictionary as a mapping between a set of indexes (known as keys) and a set of values. Each key maps to a value. The association of a key and a value is called a key:value pair or sometimes an item.

As an example, we’ll build a dictionary that stores employee record.

You can create a dictionary by placing a comma-separated list of key:value pairs in curly braces {}. Each key is separated from its associated value by a colon :

In [ ]:
# Create a dictionary to store employee record
D = {'name': 'Bob',
     'age': 25,
     'job': 'Dev',
     'city': 'New York',
     'email': 'bob@web.com'}

print(D)

print(type(D))

In [ ]:
# Create a dictionary with a tuple of two-item lists
T = (['name', 'Bob'],
     ['age', 25],
     ['job', 'Dev'])

D = dict(T)
print(D)
# Prints {'name': 'Bob', 'age': 25, 'job': 'Dev'}

In [ ]:
# When the keys are simple strings, it is sometimes easier to specify key:value pairs using keyword arguments.
D = dict(name = 'Bob',
         age = 25,
         job = 'Dev')

print(D)
# Prints {'name': 'Bob', 'age': 25, 'job': 'Dev'}

## Important Properties

* Keys must be unique:
A key can appear in a dictionary only once.

Even if you specify a key more than once during the creation of a dictionary, the last value for that key becomes the associated value.

In [ ]:
D = {'name': 'Bob',
     'age': 25,
     'name': 'Jane'}
print(D)
# Prints {'name': 'Jane', 'age': 25}

# Notice that the first occurrence of ‘name’ is replaced by the second one.

* Key must be immutable type:

You can use any object of immutable type as dictionary keys – such as numbers, strings, booleans or tuples.

In [ ]:
D = {(2,2): 25,
     True: 'a',
     'name': 'Bob'}

In [ ]:
# An exception is raised when mutable object is used as a key.
# TypeError: unhashable type: 'list'
D = {[2,2]: 25,
     'name': 'Bob'}

* Value can be of any type:
There are no restrictions on dictionary values. A dictionary value can be any type of object and can appear in a dictionary multiple times.

In [ ]:
# values of different datatypes
D = {'a':[1,2,3],
     'b':{1,2,3}}

# duplicate values
D = {'a':[1,2],
     'b':[1,2],
     'c':[1,2]}

## Access Dictionary Items
The order of key:value pairs is not always the same. In fact, if you write the same example on another PC, you may get a different result. In general, the order of items in a dictionary is unpredictable.

But this is not a problem because the items of a dictionary are not indexed with integer indices. Instead, you use the keys to access the corresponding values.
 
You can fetch a value from a dictionary by referring to its key in square brackets [].

In [ ]:
D = {'name': 'Bob',
     'age': 25,
     'job': 'Dev'}

print(D['name'])
# Prints Bob

print(D['salary'])
# If you refer to a key that is not in the dictionary, you’ll get an exception.

To avoid such exception, you can use the special dictionary get() method. This method returns the value for key if key is in the dictionary, else None, so that this method never raises a KeyError.

In [ ]:
# When key is present
print(D.get('name'))
# Prints Bob

# When key is absent
print(D.get('salary'))
# Prints None

## Add or Update Dictionary Items
Adding or updating dictionary items is easy. Just refer to the item by its key and assign a value. If the key is already present in the dictionary, its value is replaced by the new one.

In [ ]:
D = {'name': 'Bob',
     'age': 25,
     'job': 'Dev'}

D['name'] = 'Sam'
print(D)
# Prints {'name': 'Sam', 'age': 25, 'job': 'Dev'}

D['city'] = 'New York'
print(D)
# Prints {'name': 'Bob', 'age': 25, 'job': 'Dev', 'city': 'New York'}

## Merge Two Dictionaries
Use the built-in update() method to merge the keys and values of one dictionary into another. Note that this method blindly overwrites values of the same key if there’s a clash.

In [ ]:
D1 = {'name': 'Bob',
      'age': 25,
      'job': 'Dev'}

D2 = {'age': 30,
      'city': 'New York',
      'email': 'bob@web.com'}

D1.update(D2)
print(D1)
# Prints {'name': 'Bob', 'age': 30, 'job': 'Dev',
#         'city': 'New York', 'email': 'bob@web.com'}

## Remove Dictionary Items

In [ ]:
D = {'name': 'Bob',
     'age': 25,
     'job': 'Dev'}

del D['age']
print(D)
# Prints {'name': 'Bob', 'job': 'Dev'}

In [ ]:
D = {'name': 'Bob',
     'age': 25,
     'job': 'Dev'}

D.clear()
print(D)
# Prints {}

## Get All Keys, Values and Key:Value Pairs
There are three dictionary methods that return all of the dictionary’s keys, values and key-value pairs: keys(), values(), and items(). These methods are useful in loops that need to step through dictionary entries one by one.

All the three methods return iterable object. If you want a true list from these methods, wrap them in a list() function.

In [ ]:
D = {'name': 'Bob',
     'age': 25,
     'job': 'Dev'}

# get all keys
print(list(D.keys()))
# Prints ['name', 'age', 'job']

# get all values
print(list(D.values()))
# Prints ['Bob', 25, 'Dev']

# get all pairs
print(list(D.items()))
# Prints [('name', 'Bob'), ('age', 25), ('job', 'Dev')]

## Iterate Through a Dictionary
If you use a dictionary in a for loop, it traverses the keys of the dictionary by default.

In [ ]:
D = {'name': 'Bob',
     'age': 25,
     'job': 'Dev'}

for x in D:
    print(x)
# Prints name age job

In [ ]:
# To iterate over the values of a dictionary, index from key to value inside the for loop.

for x in D:
    print(D[x])
# Prints Bob 25 Dev

## Check if a Key or Value Exists
If you want to know whether a key exists in a dictionary, use in and not in operators with if statement.

In [ ]:
D = {'name': 'Bob',
     'age': 25,
     'job': 'Dev'}

print('name' in D)
# Prints True
print('salary' in D)
# Prints False

To check if a certain value exists in a dictionary, you can use method values(), which returns the values as a list, and then use the in operator.

In [ ]:
D = {'name': 'Bob',
     'age': 25,
     'job': 'Dev'}

print('Bob' in D.values())
# Prints True
print('Sam' in D.values())
# Prints False

## Find Dictionary Length
To find how many key:value pairs a dictionary has, use len() method.

In [ ]:
D = {'name': 'Bob',
     'age': 25,
     'job': 'Dev'}

print(len(D))
# Prints 3